.blogPage {
  max-width: 50%;
  margin: 5rem auto;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
}
  
.blogPage h1 {
  color: var(--text);
  margin-bottom: 2rem;
}

.blogPosts {
  display: grid;
  gap: 2rem;
}

.topicFilter select {
  padding: 0.2rem;
  background-color: var(--accent);

  color: var(--text);
  border: 1px var(--text) solid;
}
  
@media (max-width: 768px) {
  .blogPage {
    max-width: 90%;
    padding: 1rem;
  }
}


