.footer {
    background-color: var(--background);
    color: var(--text);
    padding: 1rem 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  .footer hr {
    margin: 1rem;
    color: var(--text);
    border-style: dashed;
    
  }
  
  .socialLink {
    margin: 0 1rem;
    transition: color 0.3s ease;
  }
  
  .socialLink:hover {
    color: var(--accent);
  }